.formulaires {
  width: 100%;
  background-color: white;
  color: black;
}

.formulaireInscription {
  background-color: grey;
  border-radius: 50px;
}

.formulaireConnexion {
  background-color: grey;
  border-radius: 50px;
}

.formulaires label {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}

.formulaires form input[type=text],
.formulaires form input[type=password],
.formulaires form input[type=number]{
  display: block;
  width: 100%;
  height: 47px;
  border-radius: 30px;
}

.formulaireInscription textarea {
    width: 100%;
}