* {
  margin: 0;
  padding: 0;
}

/* Page d'accueil */
html, body, #intro {
  height: 100%;
}

.boutonConnexion {
  padding: 2px 20px;
  border: 1px solid black;
  border-radius: 30px;
}

.boutonConnexion a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.sectionPrincipale {
  background-color: pink;
  min-height: 84.5vh;
}

footer {
  text-align: center;
  background-color: #7B68EE;
  min-height: 65px;
}

footer p {
  padding-top: 25px;
  color: white;
  font-weight: 400;
}

#intro {
  background: url("image/imageAccueil.png") no-repeat center center fixed;
  background-size: cover;
  height: 84.5vh;
}